.headline{
  color: black;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
a{
  text-decoration: none;
  color: white;
  transition: 0.5s;
}
span{
  margin-left: 3%;
}
a:hover{
  color: black;
}
.img{
  height: 45px;
  width: 45px;
}
.img:hover{
  cursor: pointer;
}
