    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <a routerLink="">
          <img mat-card-image src = "../../assets/gift.png" alt = "Gift" class="img">
        </a>
        <span>
          <a mat-list-item routerLink="/create">Create New Room</a>
        </span>
        <span>
          <a mat-list-item routerLink="/enter">Enter Room</a>
        </span>
        <span>
          <a mat-list-item routerLink="/help">Help</a>
        </span>
      </mat-toolbar-row>
    </mat-toolbar>
