<div class = "iconrow">
    <button (click)= "iconChanged($event)" routerLink="./beverages" mat-icon-button aria-label="Example icon-button with a heart icon">
        <mat-icon id = "beverages" class="white_color black" matTooltip="Beverages" matTooltipPosition="right">local_bar</mat-icon>
    </button>
    <button (click)= "iconChanged($event)" routerLink="./food" mat-icon-button aria-label="Example icon-button with a heart icon">
        <mat-icon id = "food" class="white_color" matTooltip="Food" matTooltipPosition="right">fastfood</mat-icon>
    </button>
    <button (click)= "iconChanged($event)" routerLink="./user-management" mat-icon-button aria-label="Example icon-button with a heart icon">
        <mat-icon id = "user-management" class="white_color" matTooltip="User-Management" matTooltipPosition="right">person</mat-icon>
    </button>
    <button (click)= "iconChanged($event)" routerLink="./location" mat-icon-button aria-label="Example icon-button with a heart icon">
        <mat-icon id = "navigation" class="white_color" matTooltip="Location" matTooltipPosition="right">navigation</mat-icon>
    </button>
    <button (click)= "iconChanged($event)" routerLink="./entertainment" mat-icon-button aria-label="Example icon-button with a heart icon">
        <mat-icon id = "entertainment" class="white_color" matTooltip="Entertainment" matTooltipPosition="right">music_note</mat-icon>
    </button>
    <button (click)= "iconChanged($event)" routerLink="./gift" mat-icon-button aria-label="Example icon-button with a heart icon">
        <mat-icon id = "gift" class="white_color" matTooltip="Gifts" matTooltipPosition="right">card_giftcard</mat-icon>
    </button>
</div>
