.content{
    height: 100%;
    width: 100%;
    display: flex;
}
.drawer{
    background-color: #673AB7;
    width: 5%;
    height: 100%;
    
}
.drawer{
    background-color: #673AB7;
    width: 70px;
    height: 100%;
    
}
.page{
    width: 90%;
}

.example-container{
    height: 100%;
}